<!DOCTYPE html>
<html>
<head>
    <title>eINFO API</title>
    <meta charset="utf-8">
    <meta name="author" content="Kashav Madan">
    <meta name="application-name" content="eINFO API">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <style>
        body {font-family: 'Open Sans'; font-size: 16px; line-height: 1.8;}
    </style>
</head>
<body>
    {% block index %}{% endblock index %}
</body>
</html>